
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto justify-content-center">
            <div style="font-size: 40vh;">
                @Html.Sitecore().Field("Status code")
            </div>
            <div style="font-size: 5vh;">@Html.Sitecore().Field("Error text")</div>
        </div>
    </div>
</div>
