<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <linkManager>
      <providers>
        <add name="sitecore">
        </add>
      </providers>
    </linkManager>
    <sites>
      <site name="Project blog" inherits="website" patch:before="site[@name='website']" rootPath="/sitecore/content/Project Blog" hostName="reply.demo.local" >
        <patch:attribute name="enforceVersionPresence">true</patch:attribute>
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
        <patch:attribute name="dictionaryDomain">{56F78D40-2DF8-482D-AE5B-27F73989B7CF}</patch:attribute>
      </site>
      <site name="shell">
        <patch:attribute name="enforceVersionPresence">true</patch:attribute>
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
      <site name="website">
        <patch:attribute name="enforceVersionPresence">true</patch:attribute>
        <patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
        <patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
      </site>
      <site name="New blog" inherits="website"
            patch:before="site[@name='website']"
            rootPath="/sitecore/content/New Blog"
            hostName="reply.blog.local"
            enforceVersionPresence="true"
            enableItemLanguageFallback="true"
            enableFieldLanguageFallback="true"
            dictionaryDomain="{E7BC8C17-0DAD-4ECD-8EC1-FD448B045D31}"
      />
    </sites>

    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"
                   type="ProjectBlog.Pipelines.CheckPage, ProjectBlog" />
      </httpRequestBegin>
    </pipelines>

    <events>
      <event name="item:added">
        <handler type="ProjectBlog.Events.PostCreationDataLoger, ProjectBlog" method="OnPostCreated" />
      </event>
    </events>

    <services>
      <configurator type="ProjectBlog.Infrastructure.ServicesConfigurator, ProjectBlog  "></configurator>
    </services>

  </sitecore>
</configuration>